.header-group {
	border-bottom: solid 2px #0a58ca;
	margin-bottom: 25px;
	padding-bottom: 7px;
	flex-direction: row;
}

#form-card {
	padding: 7px 5px 7px 5px;
}

#description {
	text-wrap: wrap;
	height: 240px;
}

#todo-cards {
	padding: 5px;
}

.checkbox {
	opacity: 0;
	position: absolute;
	display: none !important;
}

.checkbox-label {
	background-color: #111;
	width: 50px;
	height: 26px;
	border-radius: 50px;
	position: relative;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bi-brightness-high-fill {
	color: #f39c12;
}
.bi-moon-fill {
	color: #f1c40f;
}
.checkbox-label .ball {
	background-color: #fff;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 2px;
	top: 2px;
	border-radius: 50%;
	transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
	transform: translateX(24px);
}

#checkbox {
	display: none;
}
